@{
    ViewData["Title"] = "Home Page";
    var message = @ViewBag.message;
    var listQuizz = @ViewBag.listQuizz;
}

<div class="text-center">
    <h1 class="display-4">RTQuizz</h1>
    <p>Créez ou rejoignez un Quizz</p>
</div>

<br/><hr/><br/>

<div class="text-center">
    <form method="POST" action="@Url.Action("RunQuizz", "Home")">
        Nom :
        <br />
        <input type="text" id="nomUser" name="nomUser" required>
        <br />
        Code Quizz :
        <br />
        <select name="nomQuizz" id="nomQuizz">
            <option value="">--Selectionnez un Quizz--</option>
            @foreach (var quizz in listQuizz)
            {
                <option value="@quizz.NomQuizz">@quizz.NomQuizz</option>
            }
        </select>
        @*<input type="text" id="nomQuizz" name="nomQuizz" required>*@
        <br /><br />
        <input type="submit" name="Connexion" value="Connexion" />
    </form>
</div>

@if ( !string.IsNullOrEmpty(message)) { <div class="text-center" style="color:red;font-weight:bold;margin:10px;font-size:18px;font-family:cursive;">@message</div> }