@{
    var Quizz = @ViewBag.Quizz;
    var Question = @ViewBag.Question;
    var Reponses = @ViewBag.Responses;
}
<div>
    <p>@Quizz.NomQuizz</p>
</div>
<div class="text-center">
    <h1 class="display-4">@Question</h1>
</div>

<br />
<hr />
<br />

<div class="text-lg-center">
    <form method="POST" action="@Url.Action("ValidReponse", "Quizz")">
        <div>
            @{
                @foreach (var reponse in @Reponses)
                {
                    <input type="radio" id="reponse.Id"
                           name="reponse.Id" value="reponse.NomReponse">
                    <label for="reponse.Id">reponse.NomReponse</label>
                }
            }
        </div>
        <input type="submit" name="Creer" value="Creer" />

    </form>
</div>
