@{
    var Quizz = @ViewBag.Quizz;
    var Question = @ViewBag.Question;
    var Reponses = @ViewBag.Reponses;
    var Stagiaire = @ViewBag.Stagiaire;
}
<div>
    <p>@Quizz.NomQuizz</p>
</div>
<div class="text-center">
    <h1 class="display-4">@Question.NomQuestion</h1>
</div>

<br />
<hr />
<br />

<div class="text-lg-center">
    <form method="POST" action="@Url.Action("ValidReponse", "Quizz")">
        <input id="stagiaireId" name="stagiaieId" type="hidden" value="@Stagiaire.StagiaireId">
        <input id="quizzId" name="quizzId" type="hidden" value="@Quizz.Id">
        <input id="questionId" name="questionId" type="hidden" value="@Question.Id">
        <div>
            @{
                @foreach (var reponse in @Reponses)
                {
                    <input type="radio" id="@reponse.Id"
                           name="reponseId" value="@reponse.NomReponse">
                    <label for="reponseId">@reponse.NomReponse</label>
                }
            }
        </div>
        <input type="submit" name="Valider" value="Valider" />

    </form>
</div>
